body {
	background-color: white;
}

#header {
	background-color: #ea2423;
	width: 1530px;
	height: 300px;
	margin-top: 175px;
	margin-left: calc((100% - 1530px) / 2);
	float: left;
}

#header-content-left {
	width: 558px;
	height: 300px;
	padding-left: 50px;
	float: left;
}

#header-content-middle {	
	width: 403px;
	height: 300px;
	float: left;
	font-family: Gotham-Light;
}

#header-content-right{
	width: 519px;
	height: 300px;	
	float: left;
}

#clock {
	width: 285px;
	height: 285px;
	position: relative;
	margin-top: 6.5px; 
}

#clock-text-1 {
	font-family: Gotham-Black;
	font-size: 46px; 
	position: absolute;
	top: 100px;
	left: 24px;
}

#clock-text-2 {
	font-family: Gotham-Black;
	font-size: 46px; 
	position: absolute;
	top: 146px;
	left: 24px;
}

.clock-text-yellow {
	color: #ffef3a;
}	

.clock-text-white {
	color: white;	
}

#cloud {
	width: 292px;
	height: 85px;
	background-color: black;
	position: absolute; 
	top: 37.5px;
	left: 250px;
	font-size: 26px;
	color: white;
}	

#triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12.5px 25px 0 0;
	border-color: #000000 transparent transparent transparent;
	position: absolute;
	left: 250px;
	top: 115px;
}

#cloud-text {
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-top: 27px;	
}

.cloud-text-bold {
	font-family: Gotham-Bold;
	display: inline;
}

.cloud-text-light {
	font-family: Gotham-Light;
	display: inline;	
}

#oval {
  position: absolute;
  top: 186px;
  left: 375px;
}

#middle-text {
	margin-top: 65px;
}	

#middle-percent {
	display: flex;	
}

.discount-small {
	font-size:	21.77px;
	color: #363337;
}

.discount-big {
	font-size: 185.04px;
	color: #ffef3a;
	display: inline;
}

.discount-percent {
	font-family: Gotham-Book;
	font-size: 108.85px;
	color: #ffef3a;
	display: inline;
}

#right-square {
	width: 437px;
	height: 162.5px;
	background-color: #ea2423;	
	border: 3px solid white;
	margin-top: 68.75px;
}

.counter-text1 {
	margin-top: 31px;
	font-family: Gotham-Light;
	font-size: 16px;
	color: 	white;
}

#counter-time {
	width: 100%;
	font-family: Gotham-Black;
	font-size: 53.94px;
	color: white;
	text-align: center;
	float: left;
	display: flex;
	justify-content: center;
}

#counter-text0 {
	width: 100%;	
	text-align: center;
	margin-top: 25px;
	margin-bottom: 12.5px;
	float: left;
}
.counter-text {
	margin-top: 12.5px;
	font-family: Gotham-Bold;
	font-size: 18.76px;
	color: #2c2423;
}

.counter {
	float: left;
	width: 75px;
}

.colon {
	float: left;	
	width: 25px;
	font-family: Gotham-Book;
}

#content {
	width: 1530px;
	margin-left: calc((100% - 1530px) / 2);
	float: left;
	margin-bottom: 150px;
}


#bar {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#products-time {
	font-family: Gotham-Book;
	font-size: 20px; 
	height: 26px;	
	display: flex;
	align-items: center;
	color: #1a171b;
	width: 800px;
}

.products-time-text {
	margin-left: 12.5px;	
}

.products-time-time {
	font-family: Gotham-Bold; 
	margin-left: 6.25px;
	
}

#show-products {
	cursor: default;	
}

#action-info {
	height: 26px;	
	display: flex;
	align-items: center;
	float: right:
}

.action-info-text {
	margin-left: 12.5px;
	font-family: Gotham-Book;
	font-size: 14px;
	color: black;
}

.products-button {
	font-family: Gotham-Bold;
    background-color: #ea2423;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.product {
	font-family: Gotham-Book;
	color: black;
	width: 360px;
	height: 460px;
	background-color: white;
	outline:1px solid #ebebeb;
	float: left;
	margin-bottom: 25px;
}

.next-product {
	margin-left: 30px;
}

.next-line {
	margin-top: 25px;
}

.product-top-bar {
	width: 100%;	
	height: 31.25px;
}

.product-top-bar-left {
	float: left;
	width: 100px;
	margin-left: 50px;
	height: 39px;
	display: flex;
	align-items: center; 
}

.product-arts-number{
	margin-left: 12.5px;	
}

.product-top-bar-right {
	float: right;
	width: 178px;
	height: 39px;
	background-color: white;
	border: 1px solid #ff0000;
	color: #ff0000;
	font-size: 15px;
}

.product-discount-number {
	margin-left: 6.25px;	
}

.product-discount-number, .product-discount-currency {
	font-family: Gotham-Bold;
}

.product-top-bar-right {
	height: 39px;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.product-image {
	height: 330px;
	width: 360px;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.product-bottom-bar {
	padding-left: 37.5px;
	height: 91px;
}

.product-low-price, .product-low-price-currency {
	font-family: Gotham-Bold;
	font-size: 20px;
	color: 	#ff0000;
}

.product-high-price {
	margin-left: 5px;
}
	
.product-high-price, .product-high-price-currency {
	font-family: Gotham-Book;
	font-size: 14px;
	color: 	#1a171b;
}

.product-name {
	padding-top: 6.25px;
}

.product-name-text {
	font-family: Gotham-Book;
	font-size: 13px;
	color: 	black;
}

.group-name {
	padding-top: 6.25px;
}

.group-name-text {
	font-family: Gotham-Book;
	font-size: 13px;
	color: 	#9f9f9f;
}