body, html {
	height: 100%;
}


body {
	background-color: white;
}

@media screen and (orientation: portrait) {
	#header {
		background-color: #ea2423;
		width: 90%;
		height: 60%;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
	}

	#header-content-left {
		width: 100%;
		height: 50%;
		float: left;
	}

	#header-content-middle {	
		width: 100%;
		height: 50%;
		background-color: brown;
		float: left;
		font-family: Gotham-Light;
		display: none;
	}

	#header-content-right{
		width: 100%;
		height: 50%;
		float: left;
	}

	#clock {
		height: 90%;
		width: 100%;
		position: relative;
		margin-top: 6.5px; 
		text-align: center;
	}

	#clock img {
		height: 100%;
		width: auto;
		z-index: 0;
	}	

	#clock-text-1 {
		font-family: Gotham-Black;
		font-size: 26px; 
		position: absolute;
		top: 40%;
		left: 25%;
	}

	#clock-text-2 {
		font-family: Gotham-Black;
		font-size: 26px; 
		position: absolute;
		top: calc(40% + 30px);
		left: 25%;
	}

	.clock-text-yellow {
		color: #ffef3a;
	}	

	.clock-text-white {
		color: white;	
	}

	#cloud {
		width: 292px;
		height: 85px;
		background-color: black;
		position: absolute; 
		top: 37.5px;
		left: 250px;
		font-size: 26px;
		color: white;
		display: none;
	}	

	#triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12.5px 25px 0 0;
		border-color: #000000 transparent transparent transparent;
		position: absolute;
		left: 250px;
		top: 115px;
		display: none;
	}

	#cloud-text {
		width: 100%;
		height: 100%;
		padding-left: 25px;
		padding-top: 27px;	
		display: none;
	}

	.cloud-text-bold {
		font-family: Gotham-Bold;
		display: inline;
	}

	.cloud-text-light {
		font-family: Gotham-Light;
		display: inline;	
	}

	#oval {
	  position: absolute;
	  top: 78%;
	  right: 10px;
	  height: 30%;
	}

	#oval img {
		height: 100%;
		width: auto;	
	}


	#middle-text {
		margin-top: 65px;
	}	

	#middle-percent {
		display: flex;	
	}

	.discount-small {
		font-size:	21.77px;
		color: #363337;
	}

	.discount-big {
		font-size: 185.04px;
		color: #ffef3a;
		display: inline;
	}

	.discount-percent {
		font-family: Gotham-Book;
		font-size: 108.85px;
		color: #ffef3a;
		display: inline;
	}

	#right-square {
		width: 90%;
		height: 85%;
		background-color: #ea2423;	
		border: 3px solid white;
		margin-top: 5%;
		margin-left: 5%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.counter-text1 {
		margin-top: 31px;
		font-family: Gotham-Light;
		font-size: 16px;
		color: 	white;
	}

	#counter-time {
		width: 100%;
		font-family: Gotham-Black;
		font-size: 33.94px;
		color: white;
		text-align: center;
		float: left;
		display: flex;
		justify-content: center;
	}

	#counter-text0 {
		width: 100%;	
		text-align: center;
		margin-bottom: 5%;
		float: left;
	}
	.counter-text {
		margin-top: 12.5px;
		font-family: Gotham-Bold;
		font-size: 12.76px;
		color: #2c2423;
	}

	.counter {
		float: left;
		width: 75px;
	}

	.colon {
		float: left;	
		width: 25px;
		font-family: Gotham-Book;
	}

	#content {
		width: 90%;
		height: 100%;
		margin-left: 5%;
		float: left;
		margin-bottom: 5%;
	}


	#bar {
		width: 100%;
		height: 20%;
	}

	#products {
		margin-top: 5%;
		width: 100%;	
		height: 100%;
	}

	#products-time {
		font-family: Gotham-Book;
		font-size: 11px; 
		height: clac(100%/3 - 15%);	
		display: flex;
		align-items: center;
		color: #1a171b;
		width: 50%;
		float: left;
		padding-top: 5%;
	}

	.products-time-text {
		margin-left: 5%;	
	}

	.products-time-time {
		font-family: Gotham-Bold; 
		margin-left: 3%;
		
	}


	#action-info {
		height: 11px;	
		display: flex;
		align-items: center;
		float: left;
		width: 100%;
		height: calc(100%/3 - 15%);
		padding-top: 5%;
	}

	.action-info-text {
		margin-left: 12.5px;
		font-family: Gotham-Book;
		font-size: 14px;
		color: black;
	}

	#show-products {
		width: 100%;
		height: calc(100%/3 - 15%);
		float: left;	
		padding-top: 5%;
		text-align: center;
		cursor: default;
	}

	.products-button {
		font-family: Gotham-Bold;
		background-color: #ea2423;
		border: none;
		color: white;
		padding: 5px 11px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	}

	.product {
		font-family: Gotham-Book;
		color: black;
		width: 47.25%;
		height: 60%;
		background-color: white;
		outline:1px solid #ebebeb;
		float: left;
		margin-bottom: 5%;
	}

	.next-product {
		margin-left: 5%;
	}

	.next-line {
		margin-top: 25px;
	}

	.product-top-bar {
		width: 100%;	
		height: 30%;
	}

	.product-top-bar-left {
		float: left;
		width: 95%;
		padding-top: 5%;
		padding-left:5%;
		height: 45%;
		display: flex;
		align-items: center; 
		font-size: 10px;
	}

	.product-arts-number{
		margin-left: 5%;	
	}

	.product-top-bar-right {
		float: right;
		width: 100%;
		height: 45%;
		padding-top: 2%;
		border: 1px solid #ff0000;
		color: #ff0000;
		font-size: 12px;
	}

	.product-discount-number {
		margin-left: 5%;	
	}

	.product-discount-number, .product-discount-currency {
		font-family: Gotham-Bold;
		font-size: 12px;
	}

	.product-top-bar-right {
		display: flex;
		align-items: center; 
		justify-content: center;
	}

	.product-image {
		height: 40%;
		width: 100%;
		display: flex;
		align-items: center; 
		justify-content: center;
	}

	.product-image img {
		width: 100%;
		height: auto;	
	}

	.product-bottom-bar {
		padding-left: 2%;
		height: 20%;
		padding-right: 2%;
	}

	.product-low-price, .product-low-price-currency {
		font-family: Gotham-Bold;
		font-size: 11px;
		color: 	#ff0000;
	}

	.product-high-price {
		margin-left: 3%;
	}
		
	.product-high-price, .product-high-price-currency {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	#1a171b;
	}

	.product-name {
		padding-top: 2%;
	}

	.product-name-text {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	black;
	}

	.group-name {
		padding-top: 2%;
	}

	.group-name-text {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	#9f9f9f;
	}
}

@media screen and (orientation: landscape) {
	#header {
		background-color: #ea2423;
		width: 90%;
		height: 60%;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
	}

	#header-content-left {
		width: 50%;
		height: 100%;
		float: left;
	}

	#header-content-middle {	
		width: 100%;
		height: 50%;
		background-color: brown;
		float: left;
		font-family: Gotham-Light;
		display: none;
	}

	#header-content-right{
		width: 50%;
		height: 100%;
		float: left;
	}

	#clock {
		height: 90%;
		width: 100%;
		position: relative;
		margin-top: 6.5px; 
		text-align: center;
	}

	#clock img {
		height: 100%;
		width: auto;
		z-index: 0;
	}	

	#clock-text-1 {
		font-family: Gotham-Black;
		font-size: 26px; 
		position: absolute;
		top: 40%;
		left: 25%;
	}

	#clock-text-2 {
		font-family: Gotham-Black;
		font-size: 26px; 
		position: absolute;
		top: calc(40% + 30px);
		left: 25%;
	}

	.clock-text-yellow {
		color: #ffef3a;
	}	

	.clock-text-white {
		color: white;	
	}

	#cloud {
		width: 292px;
		height: 85px;
		background-color: black;
		position: absolute; 
		top: 37.5px;
		left: 250px;
		font-size: 26px;
		color: white;
		display: none;
	}	

	#triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12.5px 25px 0 0;
		border-color: #000000 transparent transparent transparent;
		position: absolute;
		left: 250px;
		top: 115px;
		display: none;
	}

	#cloud-text {
		width: 100%;
		height: 100%;
		padding-left: 25px;
		padding-top: 27px;	
		display: none;
	}

	.cloud-text-bold {
		font-family: Gotham-Bold;
		display: inline;
	}

	.cloud-text-light {
		font-family: Gotham-Light;
		display: inline;	
	}

	#oval {
	  position: absolute;
	  top: 78%;
	  right: 10px;
	  height: 30%;
	}

	#oval img {
		height: 100%;
		width: auto;	
	}


	#middle-text {
		margin-top: 65px;
	}	

	#middle-percent {
		display: flex;	
	}

	.discount-small {
		font-size:	21.77px;
		color: #363337;
	}

	.discount-big {
		font-size: 185.04px;
		color: #ffef3a;
		display: inline;
	}

	.discount-percent {
		font-family: Gotham-Book;
		font-size: 108.85px;
		color: #ffef3a;
		display: inline;
	}

	#right-square {
		width: 90%;
		height: 85%;
		background-color: #ea2423;	
		border: 3px solid white;
		margin-top: 5%;
		margin-left: 5%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.counter-text1 {
		margin-top: 31px;
		font-family: Gotham-Light;
		font-size: 16px;
		color: 	white;
	}

	#counter-time {
		width: 100%;
		font-family: Gotham-Black;
		font-size: 33.94px;
		color: white;
		text-align: center;
		float: left;
		display: flex;
		justify-content: center;
	}

	#counter-text0 {
		width: 100%;	
		text-align: center;
		margin-bottom: 5%;
		float: left;
	}
	.counter-text {
		margin-top: 12.5px;
		font-family: Gotham-Bold;
		font-size: 12.76px;
		color: #2c2423;
	}

	.counter {
		float: left;
		width: 75px;
	}

	.colon {
		float: left;	
		width: 25px;
		font-family: Gotham-Book;
	}

	#content {
		width: 90%;
		height: 100%;
		margin-left: 5%;
		float: left;
		margin-bottom: 5%;
	}


	#bar {
		width: 100%;
		height: 20%;
	}

	#products {
		margin-top: 5%;
		width: 100%;	
		height: 100%;
	}

	#products-time {
		font-family: Gotham-Book;
		font-size: 11px; 
		height: clac(100%/3 - 15%);	
		display: flex;
		align-items: center;
		color: #1a171b;
		width: 50%;
		float: left;
		padding-top: 5%;
	}

	.products-time-text {
		margin-left: 5%;	
	}

	.products-time-time {
		font-family: Gotham-Bold; 
		margin-left: 3%;
		
	}


	#action-info {
		height: 11px;	
		display: flex;
		align-items: center;
		float: left;
		width: 100%;
		height: calc(100%/3 - 15%);
		padding-top: 5%;
	}

	.action-info-text {
		margin-left: 12.5px;
		font-family: Gotham-Book;
		font-size: 14px;
		color: black;
	}

	#show-products {
		width: 100%;
		height: calc(100%/3 - 15%);
		float: left;	
		padding-top: 5%;
		text-align: center;
		cursor: default;
	}

	.products-button {
		font-family: Gotham-Bold;
		background-color: #ea2423;
		border: none;
		color: white;
		padding: 5px 11px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	}

	.product {
		font-family: Gotham-Book;
		color: black;
		width: 47.25%;
		height: 100%;
		background-color: white;
		outline:1px solid #ebebeb;
		float: left;
		margin-bottom: 3%;
		margin-top: 2%
	}

	.next-product {
		margin-left: 5%;
	}

	.next-line {
		margin-top: 25px;
	}

	.product-top-bar {
		width: 100%;	
		height: 30%;
	}

	.product-top-bar-left {
		float: left;
		width: 95%;
		padding-top: 5%;
		padding-left:5%;
		height: 45%;
		display: flex;
		align-items: center; 
		font-size: 11px;
	}

	.product-arts-number{
		margin-left: 5%;	
	}

	.product-top-bar-right {
		float: right;
		width: 100%;
		height: 30%;
		padding-top: 2%;
		border: 1px solid #ff0000;
		color: #ff0000;
		font-size: 15px;
	}

	.product-discount-number {
		margin-left: 5%px;	
	}

	.product-discount-number, .product-discount-currency {
		font-family: Gotham-Bold;
		font-size: 11px;
	}

	.product-top-bar-right {
		display: flex;
		align-items: center; 
		justify-content: center;
	}

	.product-image {
		height: 40%;
		margin-top: 5%;
		width: 100%;
		display: flex;
		align-items: center; 
		justify-content: center;
	}

	.product-image img {
		width: 70%;
		height: auto;	
	}

	.product-bottom-bar {
		padding-left: 2%;
		height: 10%;
		padding-right: 2%;
	}

	.product-low-price, .product-low-price-currency {
		font-family: Gotham-Bold;
		font-size: 11px;
		color: 	#ff0000;
	}

	.product-high-price {
		margin-left: 3%;
	}
		
	.product-high-price, .product-high-price-currency {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	#1a171b;
	}

	.product-name {
		padding-top: 2%;
	}

	.product-name-text {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	black;
	}

	.group-name {
		padding-top: 2%;
	}

	.group-name-text {
		font-family: Gotham-Book;
		font-size: 11px;
		color: 	#9f9f9f;
	
	}
}

@media screen and (min-width: 375px) and (orientation: portrait) {
	.product {
		font-family: Gotham-Book;
		color: black;
		width: 47.25%;
		height: 55%;
		background-color: white;
		outline:1px solid #ebebeb;
		float: left;
		margin-bottom: 5%;
	}
	.product-image img {
		width: 80%;
		height: auto;	
	}
}

@media screen and (min-width: 731px) and (orientation: landscape) {
	.product {
		font-family: Gotham-Book;
		color: black;
		width: 47.25%;
		height: 85%;
		background-color: white;
		outline:1px solid #ebebeb;
		float: left;
		margin-bottom: 5%;
	}
	.product-image img {
		width: 60%;
		height: auto;	
	}
}
